/* Menu */

.menu--desktop {
  display: block;
}

.menu--mobile {
  display: none;
}

@media (max-width: 991px) {
  .menu--desktop {
    display: none;
  }

  .menu--mobile {
    display: block;
  }
}

/* Menu items */

.menu__item {
  position: relative;
}

.menu__link {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  font-weight: bold;
  text-decoration: none;
}

.menu__link--active-link,
.menu__link--active-branch {
  font-weight: bold;
}

@media (max-width: 991px) {
  .menu__item {
    display: block;
    width: 100%;
  }

  .menu__link {
    display: block;
    padding: 10px 0;
  }
}

/* Menu items - top level */

.menu__item--depth-1 {
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
}

.menu__item--depth-1 > .menu__link--active-link:after {
  bottom: -3px;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

@media (max-width: 1399px) {
  .menu__item--depth-1 {
    padding: 10px 25px;
  }
}

@media (max-width: 1199px) {
  .menu__item--depth-1 {
    padding: 10px 12px;
  }
}

@media (max-width: 991px) {
  .menu__item--depth-1 {
    border-top: 1px solid var(--dark-grey-color); 
    padding: 0;
  }

  .menu__item--depth-1 > .menu__link--active-link:after {
    content: none;
  }
}

/* Menu items - submenus */

.menu__submenu {
  display: none;
}

@media (max-width: 991px) {
  .menu__submenu {
    position: relative;
    padding: 5px 0;
  }

  .menu__submenu::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1rem; 
    width: calc(100% + 2rem);
    height: 100%;
    background-color: inherit;
  }

  .menu__item--open > .menu__submenu {
    display: block;
  }

  .menu__submenu .menu__item {
    width: 100%;
  }

  .menu__submenu .menu__link {
    display: block;
    padding: 5px 10px;
    width: 100%;
    text-transform: none;
    font-weight: normal;
  }

  .menu__item--has-submenu > .menu__link {
    width: 70%;
  }
}

/* Menu icons */

.menu__child-toggle {
  display: none;
}

@media (max-width: 991px) {
  .menu__child-toggle {
    display: block;
    background-position: center right 30px;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%; 
  }

  .menu__child-toggle-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIGZpbGw9Im5vbmUiPjxnIGNsaXAtcGF0aD0idXJsKCNhKSI+PHBhdGggZmlsbD0iIzAwOUZFMyIgZD0iTTcuMjUyIDQuMTc5YS44MDEuODAxIDAgMCAxLS4yNzEuNjAyTDMuMDk3IDguMTk4YS42NDMuNjQzIDAgMCAxLS44NS0uOTY2bDMuMzk3LTIuOTg4YS4wODcuMDg3IDAgMCAwIDAtLjEzTDIuMjQ3IDEuMTI1YS42NDMuNjQzIDAgMSAxIC44NS0uOTY2bDMuODgyIDMuNDE2YS44MDUuODA1IDAgMCAxIC4yNzMuNjAzWiIvPjwvZz48ZGVmcz48Y2xpcFBhdGggaWQ9ImEiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0uNDYzIDguMzU4VjBIOC44MnY4LjM1OHoiLz48L2NsaXBQYXRoPjwvZGVmcz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center right;
    display: block;
    height: 45px;
    margin-left: auto;
    width: 45px;
  }

  .menu__item--open > .menu__child-toggle .menu__child-toggle-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIGZpbGw9Im5vbmUiPjxnIGNsaXAtcGF0aD0idXJsKCNhKSI+PHBhdGggZmlsbD0iIzAwOUZFMyIgZD0iTTQuNjQyIDYuNzlhLjgwMS44MDEgMCAwIDEtLjYwMi0uMjcxTC42MjMgMi42MzVhLjY0My42NDMgMCAwIDEgLjk2Ni0uODVsMi45ODggMy4zOTdhLjA4Ny4wODcgMCAwIDAgLjEzIDBsMi45ODgtMy4zOTdhLjY0My42NDMgMCAxIDEgLjk2Ni44NUw1LjI0NSA2LjUxN2EuODA0LjgwNCAwIDAgMS0uNjAzLjI3M1oiLz48L2c+PGRlZnM+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNLjQ2MyAwSDguODJ2OC4zNThILjQ2M3oiLz48L2NsaXBQYXRoPjwvZGVmcz48L3N2Zz4=);
  }
}

