{% import './tools/_macros.css' %}

:root {
    /* Containers */
    --container-width: {{ theme.spacing.maximum_content_width ~ 'px' }};
    --dnd-section-padding: {{ theme.spacing.vertical_spacing ~ 'px ' ~ '1rem' }};
    
    /* Colors */
    --primary-color: {{ theme.global_colors.primary.color }};
    --primary-color-light: {{ color_variant(theme.global_colors.primary.color, 40) }};
    --primary-color-dark: {{ color_variant(theme.global_colors.primary.color, -40) }};

    --secondary-color: {{ theme.global_colors.secondary.color }};
    --secondary-color-light: {{ color_variant(theme.global_colors.secondary.color, 40) }};
    --secondary-color-dark: {{ color_variant(theme.global_colors.secondary.color, -40) }};

    --tertiary-color: {{ theme.global_colors.tertiary.color }};
    --tertiary-color-light: {{ color_variant(theme.global_colors.tertiary.color, 40) }};
    --tertiary-color-dark: {{ color_variant(theme.global_colors.tertiary.color, -40) }};

    --black-color: {{ theme.global_colors.black.color }};
    --black-color-light: {{ color_variant(theme.global_colors.black.color, 40) }};
    --black-color-dark: {{ color_variant(theme.global_colors.black.color, -40) }};

    --dark-grey-color: {{ theme.global_colors.dark_grey.color }};
    --dark-grey-color-light: {{ color_variant(theme.global_colors.dark_grey.color, 40) }};
    --dark-grey-color-dark: {{ color_variant(theme.global_colors.dark_grey.color, -40) }};

    --light-grey-color: {{ theme.global_colors.light_grey.color }}; 
    --light-grey-color-light: {{ color_variant(theme.global_colors.light_grey.color, 40) }};
    --light-grey-color-dark: {{ color_variant(theme.global_colors.light_grey.color, -40) }};

    --white-color: {{ theme.global_colors.white.color }};
    --white-color-light: {{ color_variant(theme.global_colors.white.color, 40) }};
    --white-color-dark: {{ color_variant(theme.global_colors.white.color, -40) }};
    
    /* Typography */
    --primary-font-color: {{ theme.global_fonts.primary.color }};
    --primary-font-family: {{ theme.global_fonts.primary.styles['font-family'] }};

    --secondary-font-color: {{ theme.global_fonts.secondary.color }};
    --secondary-font-family: {{ theme.global_fonts.secondary.styles['font-family'] }};
    --secondary-font-weight: {{ theme.global_fonts.secondary.variant }};
    
    --h1-font-size: {{ theme.text.h1.font.size ~ theme.text.h1.font.size_unit }};
    --h1-font-size-mobile: {{ theme.text.h1.font_mobile.size ~ theme.text.h1.font_mobile.size_unit }};

    --h2-font-size: {{ theme.text.h2.font.size ~ theme.text.h2.font.size_unit }};
    --h2-font-size-mobile: {{ theme.text.h2.font_mobile.size ~ theme.text.h2.font_mobile.size_unit }};
    
    --h3-font-size: {{ theme.text.h3.font.size ~ theme.text.h3.font.size_unit }};
    --h3-font-size-mobile: {{ theme.text.h3.font_mobile.size ~ theme.text.h3.font_mobile.size_unit }};

    --h4-font-size: {{ theme.text.h4.font.size ~ theme.text.h4.font.size_unit }};
    --h4-font-size-mobile: {{ theme.text.h4.font_mobile.size ~ theme.text.h4.font_mobile.size_unit }};
    
    --h5-font-size: {{ theme.text.h5.font.size ~ theme.text.h5.font.size_unit }};
    --h5-font-size-mobile: {{ theme.text.h5.font_mobile.size ~ theme.text.h5.font_mobile.size_unit }};

    --h6-font-size: {{ theme.text.h6.font.size ~ theme.text.h6.font.size_unit }};
    --h6-font-size-mobile: {{ theme.text.h6.font_mobile.size ~ theme.text.h6.font_mobile.size_unit }};

    --body-font-size: {{ theme.text.body_font.font.size ~ theme.text.body_font.font.size_unit }};
    --body-font-size-mobile: {{ theme.text.body_font.font_mobile.size ~ theme.text.body_font.font_mobile.size_unit }};
    
    --anchor-font-color: {{ theme.text.links.font.color }};
    --anchor-font-color-light: {{ color_variant(theme.text.links.font.color, 40) }};
    --anchor-font-color-dark: {{ color_variant(theme.text.links.font.color, -40) }};
    
    /* Buttons */
    --button-font-color: {{ theme.buttons.text.font.color }};
    --button-font-family: {{ theme.buttons.text.font.styles['font-family'] }};
    --button-font-size: {{ theme.buttons.text.font.size ~ theme.buttons.text.font.size_unit }};
    --button-font-weight: {{ theme.buttons.text.font.variant }};
    --button-font-size-mobile: {{ theme.buttons.text.font_mobile.size ~ theme.buttons.text.font_mobile.size_unit }};
    --button-accent-color: {{ theme.buttons.accent.color.color }};
    --button-corner-radius: {{ theme.buttons.corner.radius ~ 'px' }};
    --button-padding-top: {{ theme.buttons.spacing.spacing.padding.top.value ~ 'px' }};
    --button-padding-right: {{ theme.buttons.spacing.spacing.padding.right.value ~ 'px' }};
    --button-padding-bottom: {{ theme.buttons.spacing.spacing.padding.bottom.value ~ 'px' }};
    --button-padding-left: {{ theme.buttons.spacing.spacing.padding.left.value ~ 'px' }};

    /* Utility */
    --border-radius: 30px;
}