{% import './tools/_macros.css' %}
  
{###########################################################################}
{############################   1. Variables   #############################}
{###########################################################################}

/* See ./css-variables.css */

{###########################################################################}
{##################   2. Containers / Grid / DND areas   ###################}
{###########################################################################}

.content-wrapper {
  max-width: var(--container-width);
}

.dnd-section,
.content-wrapper--vertical-spacing {
  padding: var(--dnd-section-padding) 0;
}

.dnd-section > .row-fluid {
  max-width: var(--container-width);
}

@media(max-width: 991px) {
  .dnd-section,
  .content-wrapper--vertical-spacing {
    padding: var(--dnd-section-padding-mobile) 0;
  }
}

{###########################################################################}
{###########################   3. Typography   #############################}
{###########################################################################}

body { 
  background-color: var(--white-color);
  color: var(--primary-font-color);
  font-family: var(--primary-font-family);
  font-size: var(--body-font-size);
}

.body-wrapper {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: var(--light-grey-color);
}

@media(max-width: 991px) {
  body {
    font-size: var(--body-font-size-mobile);
  }
}

/* Anchors */

a {
  color: var(--anchor-font-color);
}

a:hover,
a:focus {
  color: var(--anchor-font-color-dark);
}

a:active {
  color: var(--anchor-font-color-light);
}

/* Headings */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--secondary-font-color);
  font-family: var(--secondary-font-family);
  font-weight: var(--secondary-font-weight);
}

h1,
.h1 {
  font-size: var(--h1-font-size);
}

h2,
.h2 {
  font-size: var(--h2-font-size);
}

h3,
.h3 {
  font-size: var(--h3-font-size);
}

h4,
.h4 {
  font-size: var(--h4-font-size);
}

h5,
.h5 {
  font-size: var(--h5-font-size);
}

h6,
.h6 {
  font-size: var(--h6-font-size);
}

@media(max-width: 1199px) {
  h1,
  .h1 {
    font-size: calc(var(--h1-font-size) * 0.75);
  }
  
  h2,
  .h2 {
    font-size: calc(var(--h2-font-size) * 0.75);
  }
}

@media(max-width: 991px) {
  h1,
  .h1 {
    font-size: var(--h1-font-size-mobile);
  }
  
  h2,
  .h2 {
    font-size: var(--h2-font-size-mobile);
  }
  
  h3,
  .h3 {
    font-size: var(--h3-font-size-mobile);
  }
  
  h4,
  .h4 {
    font-size: var(--h4-font-size-mobile);
  }
  
  h5,
  .h5 {
    font-size: var(--h5-font-size-mobile);
  }
  
  h6,
  .h6 {
    font-size: var(--h6-font-size-mobile);
  }
}

/* Blockquote */

blockquote {
  border-left-color: var(--tertiary-color);
}

{###########################################################################}
{############################   4. Buttons   ###############################}
{###########################################################################}

button,
.button,
.hs-button {
  padding: var(--button-padding-top) var(--button-padding-right) var(--button-padding-bottom) var(--button-padding-left);
  background-color: var(--button-accent-color);
  border-radius: var(--button-corner-radius);
  color: var(--button-font-color);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
}

button::after,
.button::after,
.hs-button:after {
  background-color: var(--white-color);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"><path fill="{{ theme.buttons.accent.color.color|urlencode }}" d="M13.91 3.375h.563v9h-1.125v-7.08l-8.884 8.883-.397.398-.795-.795.398-.397L12.554 4.5H5.473V3.375h8.438Z"/></svg>');
}

button:hover,
button:focus,
button:active,
.button:hover,
.button:focus,
.button:active,
.hs-button:hover,
.hs-button:focus,
.hs-button:active {
  font-weight: var(--button-font-weight);
  color: var(--button-accent-color);
  background-color: var(--white-color);
}

button:hover::after,
button:focus::after,
button:active::after,
.button:hover::after,
.button:focus::after,
.button:active::after,
.hs-button:hover::after,
.hs-button:focus::after,
.hs-button:active::after {
  background-color: var(--button-accent-color);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"><path fill="{{ theme.global_colors.white.color|urlencode }}" d="M13.91 3.375h.563v9h-1.125v-7.08l-8.884 8.883-.397.398-.795-.795.398-.397L12.554 4.5H5.473V3.375h8.438Z"/></svg>');
}

button.secondary,
.button.secondary,
.hs-button.secondary,
button.tertiary,
.button.tertiary,
.hs-button.tertiary {
  color: var(--button-accent-color);
}

@media(max-width: 767px) { 
  button,
  .button,
  .hs-button {
    font-size: var(--button-font-size-mobile);
  }
}

{###########################################################################}
{##############################   5. Forms   ###############################}
{###########################################################################}

/* Inputs */

form input[type=text],
form input[type=search],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=number],
form input[type=file],
form select,
form textarea {
  border: 1px solid var(--light-grey-color);
}

/* Form placeholder text */

::-webkit-input-placeholder {
  color: var(--dark-grey-color);
}

::-moz-placeholder {
  color: var(--dark-grey-color);
}

:-ms-input-placeholder {
  color: var(--dark-grey-color);
}

::placeholder {
  color: var(--dark-grey-color);
}

/* Inputs - date picker */

.hs-fieldtype-date .input .hs-dateinput:before {
  color: var(--dark-grey-color);
}

.fn-date-picker td.is-selected .pika-button {
  background: var(--black-color);
}

.fn-date-picker td .pika-button:hover {
  background-color: var(--black-color) !important;
}

.fn-date-picker td.is-today .pika-button {
  color: var(--black-color);
}

{###########################################################################}
{#############################   6. Tables   ###############################}
{###########################################################################}

/* Table */

table {
  border-color: var(--dark-grey-color);
  background-color: var(--light-grey-color);
}

/* Table header */

thead th {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* Table footer */

tfoot td {
  background-color: var(--primary-color);
  color: var(--white-color);
}

{###########################################################################}
{###########################   7. Website header   #########################}
{###########################################################################}

.header {
  background-color: var(--light-grey-color);
}

.menu__link,
.header__logo .logo-company-name {
  color: var(--dark-grey-color);
}

.menu .menu__link:hover,
.menu .menu__link:focus,
.menu .menu__link:active {
  color: var(--dark-grey-color_dark);
}

.menu__child-toggle-icon {
  border-color: var(--dark-grey-color);
}

@media(min-width: 991px) {
  .menu__submenu {
    background-color: var(--light-grey-color);
  }
}

@media(max-width: 991px) {
  header.header.open {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background-color: var(--primary-color);
  }

  .header__navigation--toggle {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><circle cx="16" cy="16" r="15.625" fill="white" stroke="%23DCDCDC" stroke-width="0.75"/><path fill="{{ theme.global_colors.tertiary.color|urlencode }}" d="M10.084 21.526 21.61 10l.795.795L10.88 22.32l-.795-.795Z"/><path fill="{{ theme.global_colors.tertiary.color|urlencode }}" d="M21.608 22.321 10.082 10.795l.795-.795 11.526 11.526-.794.795Z"/></svg>');
  }

  .header__close--toggle {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><circle cx="16" cy="16" r="15.625" fill="white" stroke="%23DCDCDC" stroke-width="0.75"/><path fill="{{ theme.global_colors.tertiary.color|urlencode }}" d="M10.084 21.526 21.61 10l.795.795L10.88 22.32l-.795-.795Z"/><path fill="{{ theme.global_colors.tertiary.color|urlencode }}" d="M21.608 22.321 10.082 10.795l.795-.795 11.526 11.526-.794.795Z"/></svg>');
  }

  .menu__link,
  .header__logo .logo-company-name {
    color: var(--white-color);
  }

  .menu .menu__link:hover,
  .menu .menu__link:focus,
  .menu .menu__link:active {
    color: var(--white-color-dark);
  }

  .menu .menu__item--depth-1 {
    border-color: var(--dark-grey-color);
  }
}

{###########################################################################}
{###########################   8. Website footer   #########################}
{###########################################################################}

.footer {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: var(--primary-color);
  color: var(--light-grey-color);
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer a {
  color: var(--light-grey-color);
}

.footer .menu__link {
  color: var(--light-grey-color);
}

.footer .menu .menu__link:hover,
.footer .menu .menu__link:focus,
.footer .menu .menu__link:active {
  color: var(--light-grey-color-dark);
}

.footer .menu .menu__item--depth-1 {
  border-color: var(--dark-grey-color);
}

{###########################################################################}
{##############################   9. Blog   ################################}
{###########################################################################}

.blog-post,
.blog-header__inner,
.blog-related-posts {
  padding: var(--dnd-section-padding) 0;
}

/* Blog post */

.blog-post__meta a {
  color: var(--primary-color);
}

.blog-post__tag-link {
  color: var(--primary-color);
}

.blog-post__tag-link:hover,
.blog-post__tag-link:focus {
  color: var(--primary-color-dark);
}

.blog-post__tag-link:active {
  color: var(--primary-color-light);
}

/* Blog related posts */

.blog-related-posts__title-link,
.blog-related-posts__title-link:hover,
.blog-related-posts__title-link:focus,
.blog-related-posts__title-link:active {
  font-weight: var(--secondary-font-weight);
}

.blog-related-posts__title-link {
  color: var(--primary-color);
}

.blog-related-posts__title-link:hover,
.blog-related-posts__title-link:focus {
  color: var(--primary-color-dark);
}

.blog-related-posts__title-link:active {
  color: var(--primary-color-light);
}

/* Blog comments */

.blog-comments {
  margin-bottom: var(--dnd-section-padding);
}

#comments-listing .comment-reply-to {
  color: var(--anchor-font-color);
}

#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus {
  color: var(--anchor-font-color-dark);
}

#comments-listing .comment-reply-to:active {
  color: var(--anchor-font-color-light);
}

@media(max-width: 991px) {
  .blog-post,
  .blog-header__inner,
  .blog-related-posts {
    padding: var(--dnd-section-padding-mobile) 0;
  }
  
  .blog-comments {
    margin-bottom: var(--dnd-section-padding-mobile);
  }
}

{###########################################################################}
{##########################   10. System pages   ###########################}
{###########################################################################}

.hs-search-results__title {
  font-weight: var(--secondary-font-weight);
  color: var(--primary-color);
}

{###########################################################################}
{############################   11. Modules   ##############################}
{###########################################################################}

/* Blog listing */

.hs-blog-post-listing__post-title-link,
.hs-blog-post-listing__post-title-link:hover,
.hs-blog-post-listing__post-title-link:focus,
.hs-blog-post-listing__post-title-link:active {
  font-weight: var(--secondary-font-weight);
}

.hs-blog-post-listing__post-title-link {
  color: var(--primary-color);
}

.hs-blog-post-listing__post-title-link:hover,
.hs-blog-post-listing__post-title-link:focus {
  color: var(--primary-color-dark);
}

.hs-blog-post-listing__post-title-link:active {
  color: var(--primary-color-light);
}

.hs-blog-post-listing__post-tag,
.hs-blog-post-listing__post-author-name {
  color: var(--primary-color);
}

/* Blog pagination */

.hs-pagination__link-text,
.hs-pagination__link--number {
  color: var(--primary-color);
}

.hs-pagination__link:hover .hs-pagination__link-text,
.hs-pagination__link:focus .hs-pagination__link-text,
.hs-pagination__link--number:hover,
.hs-pagination__link--number:focus {
  color: var(--primary-color-dark);
}

.hs-pagination__link:active .hs-pagination__link-text,
.hs-pagination__link--number:active {
  color: var(--primary-color-light);
}

.hs-pagination__link-icon svg {
  fill: var(--primary-color);
}

/* Social follow */

.social-links__icon {
  background-color: var(--primary-color);
}

.social-links__icon:hover,
.social-links__icon:focus {
  background-color: var(--primary-color-dark);
}

.social-links__icon:active {
  background-color: var(--primary-color-light);
}
