<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Blog listing
-->
{% module "header_style" path="../modules/header-style", export_to_template_context=True %}
  
{% extends "./layouts/base.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--blog-index"
%}

  {# Header #}

  {% dnd_section %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/rich_text",
          html='<h1 class="border-edge">News, views and<br><span class="text-secondary">digital insights</span></h1>'
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Blog listings and pagination #}

  {% dnd_section
    vertical_alignment="TOP"
  %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path="../modules/blog-listing" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      
      {% dnd_row %}
        {% dnd_module path="../modules/pagination" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %} 

{% end_dnd_area %}
{% endblock body %}
