<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Career post
-->
{% module "header_style" 
  path="../modules/header-style", 
  "background_colour"={
    "color": "#3C4F57",
    "opacity": 100
  },
  "text_colour"="white"
  export_to_template_context=True 
%}

{% module "career_form" path="../modules/career-form", export_to_template_context=True %}

{% set career_form = widget_data.career_form.form %}
  
{% extends "./layouts/base.html" %}

{% block body %}

  <div class="blog-post" x-data="career">
    {# Hero #}

    {% module "career_hero"
      path="../modules/career-hero",
      title={{ context.title or ("You could be our next<br> <span class='text-secondary'>[Career name].</span>") }},
      image={
        "alt": context.image_alt or "Career featured image",
        "loading": context.image_loading or "disabled",
        "max_height": context.image_height or 1640,
        "max_width": context.image_width or 600,
        "size_type": "auto_custom_max",
        "src": context.image or content.featured_image
      }
    %}

    {# Body #}

    {% if content.post_body %}
      <div class="content-wrapper my-12 | lg:my-16">
        {{ content.post_body }}
      </div>
    {% endif %}

    {% module "career_content"
      path="../modules/career-content",
      section=[
        {
          "title": context.text or "Lorem ipsum",
          "text": context.text or "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique hendrerit eros at rutrum. Vivamus convallis velit vel justo dignissim condimentum.",
        },
        {
          "title": context.text or "Lorem ipsum",
          "text": context.text or "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique hendrerit eros at rutrum. Vivamus convallis velit vel justo dignissim condimentum.",
        },
        {
          "title": context.text or "Lorem ipsum",
          "text": context.text or "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique hendrerit eros at rutrum. Vivamus convallis velit vel justo dignissim condimentum.",
        }
      ]
    %}

    {# CTA #}

    <div class="dnd-section rounded-images">
      <div class="row-fluid items-center">
        <div class="span6 dnd-column">
          {% module "cta_title"
            path="@hubspot/rich_text",
            label="CTA title",
            html="<h3>Interested in the role - lets chat</h3>"
          %}

          {% module "cta_text"
            path="@hubspot/rich_text",
            label="CTA text",
            html="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique hendrerit eros at rutrum. Vivamus convallis velit vel justo dignissim condimentum.</p>",
            margin={
            "default": {
              "top": "40px",
            },
            "mobile": {
              "top": "32px",
            }
          }
          %}

          <a href="#" class="mt-10 button primary" x-on:click.prevent="show">Apply here</a>
        </div>

        <div class="span6 dnd-column">
          {% module "cta_image"
            path="@hubspot/linked_image",
            label="CTA image"
            img={
              "alt": context.image_alt or "Stock placeholder image with grayscale geometrical mountain landscape",
              "loading": context.image_loading or "lazy",
              "max_height": context.image_height or 530,
              "max_width": context.image_width or 710,
              "size_type": "auto_custom_max",
              "src": context.image or get_asset_url("../images/grayscale-mountain.png")
            }
          %}
        </div>
      </div>
    </div>

    {# Modal #}

    <template x-teleport="body">
      <div
          x-show="showing"
          class="fixed inset-0 w-full h-full bg-[rgba(61,87,92,0.80)] z-40"
          x-on:click="hide"
          x-transition:enter="transition ease-out duration-300"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100"
          x-transition:leave="transition ease-out duration-300"
          x-transition:leave-start="opacity-100"
          x-transition:leave-end="opacity-0"
      >
          <div class="ml-auto w-[calc(100%-52px)] max-h-screen overflow-y-scroll | md:w-3/5 | xl:w-[1000px]" x-on:click.stop>
            <button type="button" class="fixed top-2.5 left-2.5 | md:top-4 md:left-auto md:right-[calc(60%+1rem)] | xl:right-[calc(1000px+1rem)]" x-on:click="hide">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32">
                <circle cx="16" cy="16" r="15.625" fill="white" stroke="#DCDCDC" stroke-width="0.75"/>
                <path fill="#009FE3" d="M10.084 21.526 21.61 10l.795.795L10.88 22.32l-.795-.795Z"/>
                <path fill="#009FE3" d="M21.608 22.321 10.082 10.795l.795-.795 11.526 11.526-.794.795Z"/>
              </svg>
            </button>

            <div class="p-8 bg-light-grey min-h-screen | lg:py-14 lg:px-10">
              <h3 class="mb-8 text-secondary">Join our talented team</h3>

              {% if career_form %}
                {% form
                  form_to_use="{{ career_form.form_id }}"
                  response_response_type="{{ career_form.response_type }}"
                  response_message="{{ career_form.message }}"
                  response_redirect_id="{{ career_form.redirect_id }}"
                  response_redirect_url="{{ career_form.redirect_url }}"
                  gotowebinar_webinar_key="{{ career_form.gotowebinar_webinar_key }}"
                %}
              {% endif %}
            </div>
          </div>
      </div>
    </template>
  </div>

{% endblock body %}

{% require_js %}
  <script type="text/javascript">
    document.addEventListener('alpine:init', () => {
      Alpine.data('career', () => ({
        showing: false,
        show() {
            this.showing = true;
            document.body.classList.add('overflow-hidden')
        },
        hide() {
            this.showing = false;
            document.body.classList.remove('overflow-hidden')
        }
      }))
    })
  </script>
{% end_require_js %}
