<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Career post
-->
{% module "header_style" 
  path="../modules/header-style", 
  "background_colour"={
    "color": "#3C4F57",
    "opacity": 100
  },
  "text_colour"="white"
  export_to_template_context=True 
%}
  
{% extends "./layouts/base.html" %}

{% block body %}
<div class="body-container body-container--blog-post">

  {% module "career_hero"
    path="../modules/career-hero",
    title={{ context.title or ("You could be our next<br> <span class='text-secondary'>[Career name].</span>") }},
    image={
      "alt": context.image_alt or "Career featured image",
      "loading": context.image_loading or "disabled",
      "max_height": context.image_height or 1640,
      "max_width": context.image_width or 600,
      "size_type": "auto_custom_max",
      "src": context.image or content.featured_image
    }
  %}
  {# Blog post #}

  <article class="blog-post">
    <div class="content-wrapper">
      <div class="my-12 | lg:my-16">
        {{ content.post_body }}
      </div>
    </div>
  </article>

  <section class="dnd-section rounded-images">
    <div class="row-fluid items-center">
      <div class="span6 dnd-column">
        {% module "cta_title"
          path="@hubspot/rich_text",
          label="CTA title",
          html="<h3>Interested in the role - lets chat</h3>"
        %}

        {% module "cta_text"
          path="@hubspot/rich_text",
          label="CTA text",
          html="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique hendrerit eros at rutrum. Vivamus convallis velit vel justo dignissim condimentum.</p>",
          margin={
          "default": {
            "top": "40px",
          },
          "mobile": {
            "top": "32px",
          }
        }
        %}

        {% module "cta_button"
          path="/evoke-creative/modules/button",
          label="CTA button",
          styles={
            "spacing" : {
              "spacing" : {
                "margin" : {
                  "top" : {
                    "units" : "px",
                    "value" : 40
                  }
                }
              }
            }
          }
        %}
      </div>

      <div class="span6 dnd-column">
        {% module "cta_image"
          path="@hubspot/linked_image",
          label="CTA image"
          img={
            "alt": context.image_alt or "Stock placeholder image with grayscale geometrical mountain landscape",
            "loading": context.image_loading or "lazy",
            "max_height": context.image_height or 530,
            "max_width": context.image_width or 710,
            "size_type": "auto_custom_max",
            "src": context.image or get_asset_url("../images/grayscale-mountain.png")
          }
        %}
      </div>
    </div>
  </section>

</div>
{% endblock body %}
