<!--
  templateType: page
  isAvailableForNewContent: true
  label: QA test
-->
{% module "header_style" path="../modules/header-style", export_to_template_context=True %}
 
{% extends "./layouts/base.html" %}

{% block body %}

{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--qa-test"
%}

  {# Typography section #}

  {% dnd_section %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h1>Typography</h1>
            <hr>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>
            <p>Lorem ipsum dolor sit amet, consectetur <em>adipiscing elit</em>. Duis porttitor, quam vel <strong>dignissim</strong> tincidunt, odio libero porta ligula, vitae fermentum lacus libero vel risus. Aenean pulvinar nisl et <a href="#">vestibulum commodo</a>. Quisque euismod tempus dignissim. Quisque dictum luctus velit, eu viverra urna tristique non. Vivamus at dolor tellus. Cras congue sapien non turpis dapibus, et vestibulum ante ultrices. Mauris eu nisi non sapien fermentum fermentum in eu odio. Fusce congue elit et tortor sagittis, sit amet auctor risus sagittis.</p>
            <p>This line contains <sub>subscript</sub> text.</p>
            <p>This line contains <sup>superscript</sup> text.</p>
            <p>This line contains <code>code</code>.</p>
            <p>This line contains <small>small</small> text.</p>
            <p>This line contains <mark>highlighted</mark> text</p>
            <pre><code>.preformatted-code { background-color: #FFF; }</code></pre>
            <ul>
            <li>Unordered list item</li>
            <li>Unordered list item</li>
            <li>Unordered list item</li>
            <li>Unordered list item</li>
            </ul>
            <ol>
            <li>First ordered list item</li>
            <li>Second ordered list item</li>
            <li>Third ordered list item</li>
            <li>Fourth ordered list item</li>
            </ol>
            <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porttitor, quam vel dignissim tincidunt, odio libero porta ligula, vitae fermentum lacus libero vel risus. Aenean pulvinar nisl et vestibulum commodo. Quisque euismod tempus dignissim.</blockquote>
            <table>
              <thead>
                <tr>
                  <th>Header column one</th>
                  <th>Header column two</th>
                  <th>Header column three</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Row one column one</td>
                  <td>Row one column two</td>
                  <td>Row one column three</td>
                </tr>
                <tr>
                  <td>Row two column one</td>
                  <td>Row two column two</td>
                  <td>Row two column three</td>
                </tr>
                <tr>
                  <td>Row three column one</td>
                  <td>Row three column two</td>
                  <td>Row three column three</td>
                </tr>
                <tr>
                  <td>Row four column one</td>
                  <td>Row four column two</td>
                  <td>Row four column three</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>Footer column one</td>
                  <td>Footer column two</td>
                  <td>Footer column three</td>
                </tr>
              </tfoot>
            </table>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Tailwind section #}

  {% dnd_section %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h1>Tailwind</h1>
            <hr>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <p class="font-sans">Sans-serif</p>
            <p class="font-serif">Serif</p> 
            <p class="text-x-small">Extra small</p>
            <p class="text-small">Small</p>
            <p class="text-medium">Medium</p>
            <p class="text-large">Large</p>
            <p class="text-x-large">Extra large</p>
            <div class="space-x-2">
              <div class="w-5 h-5 inline-block bg-primary"></div>
              <div class="w-5 h-5 inline-block bg-secondary"></div>
              <div class="w-5 h-5 inline-block bg-tertiary"></div>
              <div class="w-5 h-5 inline-block bg-black"></div>
              <div class="w-5 h-5 inline-block bg-dark-grey"></div>
              <div class="w-5 h-5 inline-block bg-light-grey"></div>
              <div class="w-5 h-5 inline-block bg-white"></div>
            </div>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Default modules section #}

  {% dnd_section %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h2>Default modules </h2>
            <hr>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}

      {# Forms #}

      {% dnd_row
        margin={
          "top": 35
        }
      %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h3>Forms</h3>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}

      {% dnd_row
        padding={
        "top": 35
        }
      %}
        {% dnd_module path="@hubspot/form" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Theme modules section #}

  {% dnd_section %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h2>Theme modules</h2>
            <hr>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}

      {# Button #}

      {% dnd_row
        margin={
          "top": 35
        }
      %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h3>Button</h3>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}

      {% dnd_row
        padding={
        "top": 35
        }
      %}
        {% dnd_module path="../modules/button" %}
        {% end_dnd_module %}
      {% end_dnd_row %}

      {# Menu #}

      {% dnd_row
        margin={
          "top": 35
        }
      %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h3>Menu section</h3>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      
      {% dnd_row %}
        {% dnd_module path="../modules/menu" %}
        {% end_dnd_module %}
      {% end_dnd_row %}

      {# Social follow #}

      {% dnd_row
        margin={
          "top": 35
        }
      %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h3>Social follow</h3>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}

      {% dnd_row
        padding={
        "top": 35
        }
      %}
        {% dnd_module path="../modules/social-follow" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Theme sections #}

  {% dnd_section %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h2>Theme sections</h2>
            <hr>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Hero banner #}

  {% dnd_section
    padding={
      "top": 0,
      "bottom": 0
    },
    margin={
      "top": 35
    }
  %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h3>Hero</h3>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {% include_dnd_partial path="../sections/hero.html" %}

  {# Title #}

  {% dnd_section
    padding={
      "top": 0,
      "bottom": 0
    },
    margin={
      "top": 35
    }
  %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h3>Title</h3>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {% include_dnd_partial path="../sections/title.html" %}

  {# Text with media #}

  {% dnd_section
    padding={
      "top": 0,
      "bottom": 0
    },
    margin={
      "top": 35
    }
  %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h3>Text with media</h3>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {% include_dnd_partial path="../sections/text-media.html" %}

  {% include_dnd_partial path="../sections/text-media-box.html" %}

  {# Cards #}

  {% dnd_section
    padding={
      "top": 0,
      "bottom": 0
    },
    margin={
      "top": 35
    }
  %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h3>Cards</h3>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {% include_dnd_partial path="../sections/cards.html" %}

  {# Statistics #}

  {% dnd_section
    padding={
      "top": 0,
      "bottom": 0
    },
    margin={
      "top": 35
    }
  %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path="@hubspot/rich_text" %}
          {% module_attribute "html" %}
            <h3>Statistics</h3>
          {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {% include_dnd_partial path="../sections/statistics.html" %}

{% end_dnd_area %}
{% endblock body %}
