<!--
  templateType: page
  isAvailableForNewContent: false
-->

{####################################################}
{################# Blog components ##################}
{####################################################}

{% macro post_image() %}
  {% if show_image and content.featured_image %}
    <a href="{{ content.absolute_url }}" class="shrink-0 w-full aspect-[1/0.7] rounded-theme overflow-hidden">
      <img src="{{ content.featured_image }}" class="w-full h-full object-cover" alt="{{ content.featured_image_alt_text }}" loading="lazy">
    </a>
  {% endif %}
{% endmacro %}

{% macro post_title() %}
  {% if show_title %}
    <h5><a href="{{ content.absolute_url }}" class="link-inherit">{{ content.name }}</a></h5>
  {% endif %}
{% endmacro %}

{% macro post_description() %}
  {% if show_description and content.post_list_content %}
    <p>{{ content.post_list_content|striptags|truncatehtml(100) }}</p>
  {% endif %}
{% endmacro %}

{% macro post_tags() %}
  {% if show_tags and content.tag_list %}
    <div class="text-secondary uppercase font-bold">
      {% for tag in content.tag_list %}
        <a href="{{ blog_tag_url(group.id, tag.slug) }}" class="link-inherit" rel="tag">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro post_read_time() %}
  {% if show_read_time %}
    <div class="flex items-center text-small">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="mr-2" viewBox="0 0 16 16" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.369141 7.81158C0.369141 3.60004 3.78148 0.187683 7.9931 0.187683C12.2047 0.187683 15.6171 3.60004 15.6171 7.81158C15.6171 12.0233 12.2047 15.4356 7.9931 15.4356C3.78148 15.4356 0.369141 12.0233 0.369141 7.81158ZM7.03441 8.9798L9.74583 10.9504C9.91183 11.0703 10.1424 11.0334 10.2623 10.8704L11.1292 9.67767C11.2491 9.51166 11.2153 9.28107 11.0493 9.16119L9.09718 7.74091V3.50775C9.09718 3.30487 8.93117 3.13885 8.72828 3.13885H7.25267C7.04978 3.13885 6.88377 3.30487 6.88377 3.50775V8.68158C6.88377 8.7984 6.93911 8.90912 7.03441 8.9798Z" fill="#3C3C3B"/>
      </svg>

      {% if content.post_body|wordcount > 0 %}
        {{content.post_body|wordcount|float|divide(300)|round(0, 'ceil')}}
      {% else %}
        1
      {% endif %}
      minute read
    </div>
  {% endif %}
{% endmacro %}

{% macro post_date() %}
  {% if show_publish_date and content.publish_date %}
    <time class="block text-small" datetime="{{ content.publish_date }}">
      {{ content.publish_date_localized }}
    </time>
  {% endif %}
{% endmacro %}

{% macro post_button() %}
  {% if show_button %}
    <a href="{{ content.absolute_url }}" class="button tertiary">{{ module.button_text ? module.button_text : 'Read more' }}</a>
  {% endif %}
{% endmacro %}

{% macro post_content() %}
  <div class="flex-1 flex flex-col px-4 py-8 | lg:p-8">
    <div class="mb-5 space-y-4">
      {{ post_title() }}
      {{ post_description() }}
    </div>

    <div class="mt-auto space-y-3">
      {{ post_tags() }}
      {{ post_read_time() }}
      {{ post_date() }}
      {{ post_button() }}
    </div>
  </div>
{% endmacro %}

{####################################################}
{################### Blog layout ####################}
{####################################################}

<article class="hs-blog-post-listing__post flex flex-col bg-white rounded-theme">
  {{ post_image() }}

  {{ post_content() }}
</article>