<!--
  templateType: page
  isAvailableForNewContent: false
-->

{####################################################}
{################# Blog components ##################}
{####################################################}

{% macro post_title() %}
  {% if show_title %}
    <h5 class="mb-4 leading-[1.4] | lg:mb-0"><a href="{{ content.absolute_url }}" class="link-inherit">{{ content.name }}</a></h5>
  {% endif %}
{% endmacro %}

{% macro post_description() %}
  {% if show_description and content.post_list_content %}
    <p>{{ content.post_list_content|striptags|truncatehtml(100) }}</p>
  {% endif %}
{% endmacro %}

{####################################################}
{################### Blog layout ####################}
{####################################################}

<article class="py-8 border-t border-light-grey | lg:py-12 lg:flex">
  <div class="lg:w-1/4 lg:pr-5">
    {{ post_title() }}
  </div>

  <div>
    {{ post_description() }}
  </div>
</article>