<!--
  templateType: global_partial
  label: Website header
-->
<header 
  class="header py-4 | lg:py-5 {{ widget_data.header_style.text_colour }}" 
  {% if widget_data.header_style.background_colour %}style="background-color: rgba({{ widget_data.header_style.background_colour.color|convert_rgb }}, {{ widget_data.header_style.background_colour.opacity / 100 }})"{% endif %}
>
  {# The link below is used for a navigation skipper which allows users navigating the site with their keyboard to skip over the site navigation. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
  <a href="#main-content" class="header__skip">Skip to content</a>

  <div class="header__container content-wrapper">
    <div class="header__logo header__logo--dark">
      {% module "site_logo_dark"
        path="@hubspot/logo"
        label="Logo - dark"
        img={
          "loading": "eager"
        }
      %}
    </div>

    <div class="header__logo header__logo--light">
      {% module "site_logo_light"
        path="@hubspot/logo"
        label="Logo - light"
        img={
          "loading": "eager"
        }
      %}
    </div>

    <div class="flex items-center w-auto | lg:w-full">
      <div class="header--toggle header__navigation--toggle"></div>
      <div class="header__close--toggle"></div>

      <div class="header__navigation header--element">
        {% module "header_menu"
          path="../../modules/mega-menu",
          label="Header menu"
        %}

        {% module "mobile_menu"
          path="../../modules/menu",
          label="Mobile menu"
        %}

        <div class="mt-12 ml-auto | lg:mt-0">
          <h4 class="mb-3 text-secondary | lg:hidden">
            {% module "mobile_contact_title" 
              path="@hubspot/text" 
              label="Mobile menu contact title"
              value="Let us show you around"
            %}
          </h4>

          <div class="mb-4 text-white | lg:hidden">
            {% module "mobile_contact_text" 
              path="@hubspot/text" 
              label="Mobile menu contact text"
              value="Rather a personal, customised tour of Dash? Book a call with us and we'd be happy to show you around."
            %}
          </div>

          <a href="/contact" class="button">Contact</a>
        </div>
      </div>
    </div>
  </div>
</header>
