{% require_css %}
    <style>

        {# Vector backgrounds #}

        {% if widget_data.header_style.text_colour == 'white' && module.style.layout == 'grey' %}
            @media (min-width: 992px) {
                header .header__container::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: -6%;
                    width: 33%;
                    aspect-ratio: 1/1;
                    background-image: url({{ get_asset_url('/evoke-creative/images/hero-vector-grey.svg') }});
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        {% endif %}

        {% if widget_data.header_style.text_colour == 'default' && module.style.layout == 'white' %}
            @media (min-width: 992px) {
                header .header__container::before {
                    content: '';
                    position: absolute;
                    top: -150%;
                    left: -28%;
                    width: 85%;
                    aspect-ratio: 1/1;
                    background-image: url({{ get_asset_url('/evoke-creative/images/hero-vector-white.svg') }});
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        {% endif %}

        {% scope_css %}

            {# Video #}
            
            .hs-video-wrapper {
                padding-bottom: 100% !important;
            }

        {% end_scope_css %}
    </style>
{% end_require_css %}

<div class="hero-module py-12 | lg:py-20 | 2xl:py-28 {{ module.style.layout == 'grey' ? 'rounded-theme rounded-tl-none rounded-tr-none bg-primary text-white' : '' }} {{ module.style.remove_bottom_border_radius ? 'rounded-bl-none rounded-br-none' : '' }}">
    <div class="content-wrapper relative">
        {% if !(module.image.src || module.video.player_id) && module.title %}
            <h1 class="border-edge mb-8 | lg:mb-14 {{ module.style.layout == 'grey' ? 'text-white' : '' }}">{{ module.title }}</h1>
        {% endif %}

        <div class="flex flex-wrap gap-10 items-center | md:flex-nowrap md:gap-14">
            <div class="space-y-8 w-full | md:w-[55%] | lg:space-y-14">
                {% if (module.image.src || module.video.player_id) && module.title %}
                    <h1 class="border-edge {{ module.style.layout == 'grey' ? 'text-white' : '' }}">{{ module.title }}</h1>
                {% endif %}
                
                {% if module.text %}
                    <div class="2xl:text-large">{{ module.text }}</div>
                {% endif %}

                {% if module.button is iterable %}
                    <div class="flex flex-wrap gap-x-8 gap-y-5 | lg:gap-x-12">
                        {% for item in module.button %}
                            {% set href = item.link.url.href %}
                            {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
                                {% set href = "mailto:" + href %}
                            {% endif %}

                            <a href="{{ href }}" class="button {{ loop.first ? 'primary' : 'secondary' }}"
                                {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                                {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
                                >
                                {{ item.link_text }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            {% if module.image.src && module.media_type == 'image' %}
                {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
                {% if module.image.size_type == 'auto' %}
                    {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}" style="max-width: 100%; height: auto;"' %}
                {% elif module.image.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
                
                <div class="flex justify-center w-full | md:w-[45%]">
                    <img src="{{ module.image.src }}" class="rounded-theme" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                </div>
            {% elif module.video.player_id && module.media_type == 'video' %}
                {% set max_width = module.video.size_type == 'auto_custom_max' ? module.video.max_width : module.video.width %}
                {% set max_height = module.video.size_type == 'auto_custom_max' ? module.video.max_height : module.video.height %}
                
                <div class="w-full text-center | md:w-[45%]">
                    {% video_player "embed_player"
                        player_id={{ module.video.player_id }}
                        type={{ module.video.player_type || 'scriptV4' }}
                        full_width={{ module.video.size_type == 'auto_full_width' }},
                        conversion_asset={{ module.video.conversion_asset|tojson|safe }}
                        autoplay={{ module.video.autoplay }}
                        hidden_controls={{ module.video.hide_controls }}
                        loop={{ module.video.loop_video }}
                        muted={{ module.video.mute_by_default }}
                    %}
                </div>
            {% endif %}
        </div>
    </div>
</div>