{# Sets attributes used for the link field #}

{% set style = module.styles.style %}
{% set href = module.link.url.href %}
{% if module.link.url.type == "EMAIL_ADDRESS" %}
  {% set href = "mailto:" + href %}
{% endif %}
{% set rel = [] %}
{% if module.link.no_follow %}
  {% do rel.append("nofollow") %}
{% endif %}
{% if module.link.open_in_new_tab %}
  {% do rel.append("noopener") %}
{% endif %}

{# Button #}

<div class="button-wrapper">
  <a class="button {{ style }}" href="{{ href }}"
  {% if module.link.open_in_new_tab %}target="_blank"{% endif %}
  {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
  > 
    {{ module.button_text }}
  </a>
</div>
