<div class="grid gap-x-5 gap-y-8 | md:grid-cols-2">
  {% for card in module.location %}
    <div class="bg-white rounded-theme shadow-lg | xl:flex">
      <div class="shrink-0 w-full aspect-[1/0.7] rounded-theme overflow-hidden | xl:w-1/3 xl:aspect-[1/1.15]">
        {% if card.image.src %}
          {% set sizeAttrs = 'width="{{ card.image.width }}" height="{{ card.image.height }}"' %}
          {% if card.image.size_type == "auto" %}
              {% set sizeAttrs = 'style="max-width: 100%;"' %}
          {% elif card.image.size_type == "auto_custom_max" %}
              {% set sizeAttrs = 'width="{{ card.image.max_width }}" height="{{ card.image.max_height }}" style="max-width: 100%;"' %}
          {% endif %}
          {% set loadingAttr = card.image.loading != "disabled" ? 'loading="{{ card.image.loading }}"' : "lazy" %}
        
          <img src="{{ card.image.src }}" class="w-full h-full object-cover" alt="{{ card.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      </div>

      <div class="px-4 py-8 | lg:p-8 | xl:p-10 xl:w-2/3">
        {% if card.title %}
          <h4 class="mb-5 text-secondary">{{ card.title }}</h4>
        {% endif %}

        <div class="space-y-3">
          {% if card.address %}
            <div class="flex">
              <svg xmlns="http://www.w3.org/2000/svg" class="shrink-0 mt-1.5 mr-3" width="23" height="1em" viewBox="0 0 384 512"  fill="none">
                <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" fill="#3C3C3B"/>
              </svg>

              {{ card.address }}
            </div>
          {% endif %}

          <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="shrink-0 mt-1.5 mr-3" width="23" height="13" viewBox="0 0 23 13" fill="none">
              <path d="M7.218 0L2.43 12.852H0L4.788 0H7.218Z" fill="#3C3C3B"/>
              <path d="M14.6535 0L9.86555 12.852H7.43555L12.2235 0H14.6535Z" fill="#3C3C3B"/>
              <path d="M22.0891 0L17.3011 12.852H14.8711L19.6591 0H22.0891Z" fill="#3C3C3B"/>
            </svg>

            {{ card.what3words }}
          </div>

          <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="shrink-0 mt-1.5 mr-3" width="23" height="1em" viewBox="0 0 512 512" fill="none">
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z" fill="#3C3C3B"/>
            </svg>

            {{ card.telephone }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>