<div class="mega-menu-module">
  <ul class="pl-0 list-none flex">
    {% for item in module.menu_items %}
      <li class="group">
        {% set menu_href = item.menu_link.url.href %}
        {% if item.menu_link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set menu_href = "mailto:" + href %}
        {% endif %}

        <a href="{{ menu_href }}" class="menu__link inline-flex items-center px-3 py-8 uppercase | xl:px-4 | 2xl:px-8">
          {{ item.menu_title }}

          {% if item.has_child_menu %}
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" class="dropdown-arrow -mt-1 ml-2.5 | 2xl:ml-4" viewBox="0 0 10 5" fill="none">
              <path d="M9.42373 0.468442C9.52542 0.547337 9.52542 0.705128 9.42373 0.803748L5.17288 4.92604C5.07119 5.02465 4.92881 5.02465 4.82712 4.92604L0.576271 0.803748C0.474576 0.705128 0.474576 0.547337 0.576271 0.468442L0.962712 0.0739645C1.06441 -0.0246548 1.22712 -0.0246548 1.30847 0.0739645L5.01017 3.64398L8.69153 0.0739645C8.77288 -0.0246548 8.93559 -0.0246548 9.03729 0.0739645L9.42373 0.468442Z"/>
            </svg>
          {% endif %}
        </a>

        {% if item.has_child_menu %}
          <div class="absolute top-full left-0 -ml-[30px] px-[30px] py-16 w-[calc(100%+60px)] rounded-theme bg-white z-40 invisible opacity-0 | group-hover:opacity-100 group-hover:visible">
            <div class="content-wrapper">
              <div class="flex space-x-5">
                {% for column in item.child_menu_columns %}
                  {% set column_width = loop.index == 2 ? 'w-[45%]' : (loop.index == 3 ? 'w-[33%]' : 'w-[22%]') %}

                  <div class="flex flex-col {{ column_width }}">
                    {% if column.heading %}
                      <div class="mb-8 text-large text-secondary uppercase font-bold">{{ column.heading }}</div>
                    {% endif %}
                    
                    {% if column.child_menu_type == "menu" %}
                      <div class="menu-wrapper pr-5 | 2xl:pr-16 {{ column.number_of_columns }}">
                        {% simple_menu menu_tree="{{ column.child_menu }}" %}
                      </div>
                    {% endif %}

                    {% if column.child_menu_type == "featured_content" %}
                      <div class="relative">
                        {% set featured_href = column.featured_item.featured_item_link.url.href %}
                        {% if column.featured_item.featured_item_link.url.type is equalto "EMAIL_ADDRESS" %}
                            {% set featured_href = "mailto:" + href %}
                        {% endif %}

                        <a href="{{ featured_href }}"
                            {% if column.featured_item.featured_item_link.open_in_new_tab %}target="_blank"{% endif %}
                            {% if column.featured_item.featured_item_link.rel %}rel="{{ column.featured_item.featured_item_link.rel }}"{% endif %}
                        >
                          {% if column.featured_item.featured_item_image.src %}
                            {% set sizeAttrs = 'width="{{ column.featured_item.featured_item_image.width }}" height="{{ column.featured_item.featured_item_image.height }}"' %}
                            {% if column.featured_item.featured_item_image.size_type == 'auto' %}
                                {% set sizeAttrs = 'width="{{ column.featured_item.featured_item_image.width }}" height="{{ column.featured_item.featured_item_image.height }}" style="max-width: 100%;"' %}
                            {% elif column.featured_item.featured_item_image.size_type == 'auto_custom_max' %}
                                {% set sizeAttrs = 'width="{{ column.featured_item.featured_item_image.max_width }}" height="{{ column.featured_item.featured_item_image.max_height }}" style="max-width: 100%;"' %}
                            {% endif %}
                            {% set loadingAttr = column.featured_item.featured_item_image.loading != 'disabled' ? 'loading="{{ column.featured_item.featured_item_image.loading }}"' : '' %}

                            <div class="w-full rounded-theme shadow-lg overflow-hidden {{ loop.index == 2 ? 'aspect-[1/0.572]' : (loop.index == 3 ? 'aspect-[1/0.78]' : 'aspect-[1/1.17]') }}">
                              <img src="{{ column.featured_item.featured_item_image.src }}" class="w-full h-full object-cover" alt="{{ item2.featured_item.featured_item_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                            </div>
                          {% endif %}

                          {% if column.featured_item.featured_item_label %}
                            <span class="absolute top-5 left-5 py-1 px-4 border border-secondary rounded-full bg-white text-sm text-secondary font-bold uppercase">{{ column.featured_item.featured_item_label }}</span>
                          {% endif %}
                        </a>
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>