{####################################################}
{############### Module variables ###################}
{####################################################}

{# Columns #}

{% if blog.slug == 'blog' %}
  {% set show_image = true %}
  {% set show_title = true %}
  {% set show_tags = true %}
  {% set show_publish_date = true %}
  {% set show_description = true %}

  {% set columns_class = 'gap-x-3 gap-y-10 | md:grid-cols-2 | lg:grid-cols-3 ' %}
{% elif blog.slug == 'projects' %}
  {% set show_image = true %}
  {% set show_title = true %}
  {% set show_tags = true %}
  {% set show_description = true %}

  {% set columns_class = 'gap-x-3 gap-y-10 | md:grid-cols-2' %}
{% elif blog.slug == 'careers' %}
  {% set show_title = true %}
  {% set show_description = true %}

  {% set columns_class = 'border-b border-light-grey' %}
{% endif %}

{####################################################}
{################## Blog layout #####################}
{####################################################}

{% if contents is iterable %}
  <section class="grid {{ columns_class }}">
    {% for content in contents %}
      {% if blog.slug == 'blog' %}
        {% include "../templates/partials/blog-card.html" %}
      {% elif blog.slug == 'projects' %}
        {% include "../templates/partials/project-card.html" %}
      {% elif blog.slug == 'careers' %}
        {% include "../templates/partials/career-card.html" %}
      {% endif %}
    {% endfor %}
  </section>
{% endif %}
