{####################################################}
{############### Module variables ###################}
{####################################################}

{# Columns #}

{% set columns = module.columns %}

{% if columns == 2 %}
  {% set columns_class = 'md:grid-cols-2' %}
{% elif columns == 3 %}
  {% set columns_class = 'md:grid-cols-2 lg:grid-cols-3' %}
{% elif columns == 4 %}
  {% set columns_class = 'md:grid-cols-2 lg:grid-cols-4' %}
{% endif %}

{# Content options #}

{% if module.display_for_each_list_item.index("image") >= 0 %}
  {% set show_image = true %}
{% endif %}

{% if module.display_for_each_list_item.index("title") >= 0 %}
  {% set show_title = true %}
{% endif %}

{% if module.display_for_each_list_item.index("author_image") >= 0 %}
  {% set show_author_image = true %}
{% endif %}

{% if module.display_for_each_list_item.index("author_name") >= 0 %}
  {% set show_author_name = true %}
{% endif %}

{% if module.display_for_each_list_item.index("tags") >= 0 %}
  {% set show_tags = true %}
{% endif %}

{% if module.display_for_each_list_item.index("publish_date") >= 0 %}
  {% set show_publish_date = true %}
{% endif %}

{% if module.display_for_each_list_item.index("description") >= 0 %}
  {% set show_description = true %}
{% endif %}

{% if module.display_for_each_list_item.index("button") >= 0 %}
  {% set show_button = true %}
{% endif %}

{####################################################}
{################## Blog layout #####################}
{####################################################}

<section class="grid {{ columns_class }} gap-x-3 gap-y-10">
  {% for content in contents %}
    {% include "../templates/partials/blog-card.html" %}
  {% endfor %}
</section>
