<div class="team-module">
  {% if module.title %}
    <h2 class="mb-8 | lg:mb-16">{{ module.title }}<span class="text-secondary">.</span></h2>
  {% endif %}

  {% if module.text %}
    <div class="text-medium | lg:w-4/6 lg:text-x-large">{{ module.text }}</div>
  {% endif %}

  {% if module.team_member is iterable %}
    <div class="swiper-container relative pt-12 | lg:pt-20">
      <div class="swiper" data-slides="1" data-slides-sm="2" data-slides-md="3" data-slides-lg="4" data-slides-gap="20">
        <div class="swiper-wrapper">
          {% for item in module.team_member %}
            <div class="swiper-slide">
              <div>
                {% if item.image.src %}
                  {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
                  {% if item.image.size_type == "auto" %}
                      {% set sizeAttrs = 'style="max-width: 100%;"' %}
                  {% elif item.image.size_type == "auto_custom_max" %}
                      {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%;"' %}
                  {% endif %}
                  {% set loadingAttr = item.image.loading != "disabled" ? 'loading="{{ item.image.loading }}"' : "lazy" %}
                
                  <div class="mb-3 aspect-[1/1.25] rounded-theme overflow-hidden">
                    <img src="{{ item.image.src }}" class="w-full h-full object-cover" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                  </div>
                {% endif %}

                <span class="text-small font-bold uppercase">
                  {{ item.title }} 

                  {% if item.role %}
                    <span class="font-normal">{{ item.role }}</span>
                  {% endif %}
                </span>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="swiper-buttons lg:absolute lg:bottom-full lg:right-0">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  {% endif %}
</div>