button,
.button,
.hs-button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  min-height: 44px;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  transition: background-color 0.15s linear;
  white-space: normal;
}

.button::after,
.hs-button::after {
  content: '';
  flex-shrink: 0;
  margin-left: 15px;
  width: 34px;
  height: 34px;
  border-radius: 999px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  transition: background-color 0.15s linear;
}

button:disabled,
.button:disabled, 
.hs-button:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}

@media(max-width: 767px) {
  button,
  .button,
  .hs-button {
    min-height: 34px;
  }

  .button::after,
  .hs-button::after {
    width: 24px;
    height: 24px;
    background-size: 12px 12px;
  }
}

/* Button variations */

.button.secondary,
.hs-button.secondary,
.button.tertiary,
.hs-button.tertiary {
  padding: 0;
  background-color: transparent;
  text-align: left;
}

.button.secondary::after,
.hs-button.secondary::after,
.button.tertiary::after,
.hs-button.tertiary::after {
  border: 1px solid var(--light-grey-color);
}

.button.secondary:hover,
.hs-button.secondary:hover,
.button.secondary:focus,
.hs-button.secondary:focus,
.button.secondary:active,
.hs-button.secondary:active,
.button.tertiary:hover,
.hs-button.tertiary:hover,
.button.tertiary:focus,
.hs-button.tertiary:focus,
.button.tertiary:active,
.hs-button.tertiary:active {
  background-color: transparent;
}

.button.secondary:hover::after,
.hs-button.secondary:hover::after,
.button.tertiary:hover::after,
.hs-button.tertiary:hover::after {
  border: none;
}

.button.tertiary,
.hs-button.tertiary,
.button.back,
.hs-button.back {
  min-height: 34px;
}

.button.secondary.full,
.hs-button.secondary.full,
.button.tertiary.full,
.hs-button.tertiary.full {
  display: flex;
  justify-content: space-between;
  min-height: auto;
}

.button.back::after,
.hs-button.back {
  order: -1;
  margin-left: 0;
  margin-right: 15px;
  transform: rotate(270deg);
}

@media(max-width: 767px) {
  .button.tertiary,
  .hs-button.tertiary,
  .button.back,
  .hs-button.back {
    min-height: 24px;
  }

  .button.tertiary::after,
  .hs-button.tertiary::after {
    margin-left: 10px;
  }

  .button.back::after,
  .hs-button.back::after {   
    margin-right: 10px;
  }
}

/* No button */

.no-button,
.no-button:hover,
.no-button:focus,
.no-button:active {
  background: none;
  border: none;
  border-radius: 0;
  color: initial;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  transition: none;
}
