/* Fonts */

@font-face { 
  font-family: 'Proxima Nova'; 
  src: url('https://139730430.fs1.hubspotusercontent-eu1.net/hubfs/139730430/proxima-nova-regular.ttf') format('truetype'), 
       url('https://139730430.fs1.hubspotusercontent-eu1.net/hubfs/139730430/proxima-nova-regular.woff') format('woff'), 
       url('https://139730430.fs1.hubspotusercontent-eu1.net/hubfs/139730430/proxima-nova-regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face { 
  font-family: 'Proxima Nova'; 
  src: url('https://139730430.fs1.hubspotusercontent-eu1.net/hubfs/139730430/proxima-nova-bold.ttf') format('truetype'), 
       url('https://139730430.fs1.hubspotusercontent-eu1.net/hubfs/139730430/proxima-nova-bold.woff') format('woff'), 
       url('https://139730430.fs1.hubspotusercontent-eu1.net/hubfs/139730430/proxima-nova-bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face { 
  font-family: 'Gilroy'; 
  src: url('https://139730430.fs1.hubspotusercontent-eu1.net/hubfs/139730430/gilroy-extrabold.ttf') format('truetype'), 
       url('https://139730430.fs1.hubspotusercontent-eu1.net/hubfs/139730430/gilroy-extrabold.woff') format('woff'), 
       url('https://139730430.fs1.hubspotusercontent-eu1.net/hubfs/139730430/gilroy-extrabold.woff2') format('woff2');
  font-weight: 800;
}

body {
  line-height: 1.4;
  overflow-wrap: break-word;
}

body.no-scroll {
  overflow: hidden;
}

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  overflow-wrap: normal;
  word-break: break-all;
}

.body-wrapper {
  margin: 1rem 1rem 0;
  overflow: hidden;
}

/* Paragraphs */

p {
  margin: 0 0 1.4rem;
}

/* Anchors */

a {
  cursor: pointer;
}

/* Headings */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--secondary-font-color);
  text-transform: uppercase;
  line-height: 1;
}

@media (min-width: 992px) {
  h1, 
  .h1 {
    line-height: 0.85;
  }

  h2, 
  .h2 {
    line-height: 0.9;
  }

  h3, 
  .h3 {
    line-height: 0.95;
  }

  h4, 
  .h4 {
    line-height: 1;
  }
}

/* Lists */

ul,
ol {
  margin: 0 0 1.4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

ul.no-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Code blocks */

pre {
  overflow: auto;
}

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  border-left: 2px solid;
  margin: 0 0 1.4rem;
  padding-left: 1rem;
}

/* Horizontal rules */

hr {
  border: none;
  border-bottom: 1px solid #CCC;
}

/* Image alt text */

img {
  font-size: 0.583rem;
  word-break: normal;
}
