{% set rec_posts = blog_recent_posts("default", 3) %}

{% if rec_posts is iterable %}
    {% set show_image = true %}
    {% set show_title = true %}
    {% set show_description = true %}
    {% set show_button = true %}

    <div class="latest-news-module">
        <div class="content-wrapper">
            {% if module.title %}
                <h2>{{ module.title }}<span class="text-secondary">.</span></h2>
            {% endif %}

            <hr class="mt-8 border-dark-grey"> 

            <div class="xl:flex">
                <div class="pt-12 | lg:pt-16 | xl:pr-8 xl:w-1/4">
                    {% if module.text %}
                        <div>{{ module.text }}</div>
                    {% endif %}

                    <a href="{{ blog_all_posts_url("default") }}" class="button primary mt-8 | lg:mt-10">View all articles</a>
                </div>

                <div class="pt-12 w-full border-dark-grey | lg:pt-16 | xl:pl-16 xl:w-3/4 xl:border-l">
                    <div class="grid gap-x-3 gap-y-10 | md:grid-cols-2 | lg:grid-cols-3">
                        {% for rec_post in rec_posts %}
                            {% set content = rec_post %}
                        
                            {% include "../templates/partials/blog-card.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}