<div class="social-links flex flex-wrap gap-6">
  {% for item in module.social_links %}

    {% set href = item.social_link.url.href %}
    {% if item.social_link.url.type == "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}

    {% set rel = [] %}
    {% if item.social_link.no_follow %}
      {% do rel.append("nofollow") %}
    {% endif %}

    {% if item.social_link.open_in_new_tab %}
      {% do rel.append("noopener") %}
    {% endif %}

    {% set social_icon = item.social_account %}
      
    <a class="social-links__link" href="{{ href }}"
    {% if item.social_link.open_in_new_tab %}target="_blank"{% endif %}
    {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}>
      {% icon
        extra_classes="social-links__icon",
        name="{{ social_icon }}",
        purpose="semantic",
        style="REGULAR",
        title="{{ item.accessibility.title }}",
        unique_in_loop=True
      %}
    </a>
  {% endfor %}
</div>
