/* Header DND sections */

.header .dnd-section {
  padding: 0;
}

/* Header container */

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

/* Navigation skipper */

.header__skip {
  height: 1px;
  left: -1000px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: -1000px;
  width: 1px;
}

.header__skip:hover,
.header__skip:focus,
.header__skip:active {
  height: auto;
  left: 0;
  overflow: visible;
  top: 0;
  width: auto;
}

/* Logo */

.header__logo {
  flex-shrink: 0;
  align-items: center;
  display: flex;
  height: auto;
  margin-right: auto;
  max-width: 180px;
  overflow: hidden;
}

.header__logo--light {
  display: none;
}

@media (max-width: 1399px) {
  .header__logo {
    max-width: 135px;
  }
}

@media (max-width: 1199px) {
  .header__logo {
    max-width: 100px;
  }
}

@media (max-width: 991px) {
  .header__logo {
    max-width: 88px;
  }

  header.header.open .header__logo--dark {
    display: none;
  }

  header.header.open .header__logo--light {
    display: flex;
  }
}

.header__logo img {
  max-width: 100%;
}

.header__logo .logo-company-name {
  font-size: 1.167rem;
  margin-top: 0.7rem;
}

/* Navigation */

#nav-toggle {
  display: none;
}

.header__navigation {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__navigation .hs_cos_wrapper {
  margin-left: auto;
}

@media (min-width: 768px) {
  .header__navigation .button {
    font-size: 16px;
  }
}

/* Variations */

.header.grey {
  background-color: var(--primary-color);
}

header.grey .header__logo--dark {
  display: none;
}

header.grey .header__logo--light {
  display: flex;
}

/* Mobile toggles */

@media (max-width: 991px) {
  header.header.open {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 1rem);
    z-index: 10;
  }

  .header__navigation {
    display: none;
  }

  .header__navigation nav {
    border-bottom: 1px solid var(--dark-grey-color);
  }

  header.header.open .header__navigation {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 25px 1rem;
    width: 100%;
  }

  .header__navigation--toggle,
  .header__close--toggle {
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 32px;
    background-repeat: no-repear;
    background-position: center;
    background-size: cover;
  }

  .header__navigation--toggle.hide {
    display: none;
  }

  .header__navigation--toggle.open {
    display: block;
    margin-left: 0;
    margin-right: auto;
  }

  .header__navigation--toggle:before {
    content: "Menu";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    font-size: 0;
    line-height: 0;
  }

  .header__close--toggle {
    display: none;
  }

  .header__close--toggle.show {
    display: block;
  }
}
