/* For content that needs to be visually hidden but stay visible for screenreaders */

.show-for-sr {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

@media (max-width: 767px) {
  .show-for-sr--mobile {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }
}

/* Border radius */

.rounded-theme {
  border-radius: var(--border-radius);
}

@media (max-width: 767px) {
  .rounded-theme {
    border-radius: var(--border-radius-mobile);
  }
}

/* Grid background */

.grid-bg {
  background-image: url({{ get_asset_url('/evoke-creative/images/grid-bg.svg') }});
  background-repeat: repeat-y;
  background-position: center;
  background-size: 100%; 
}

@media (max-width: 767px) {
  .grid-bg {
    background-size: 767px;
  }
}

/* Tick lists */

.list-module.tick li {
  padding-left: 30px;
  background-image: url({{ get_asset_url('/evoke-creative/images/tick.svg') }});
  background-repeat: no-repeat;
  background-position: left 4px;
  background-size: 18px 18px;
}

/* Break out of limited width parent */

.break-out {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0 1rem;
  width: 100vw;
}

/* Gradient background */

.bg-gradient {
  position: relative;
  background-color: var(--primary-color);
  background-image: linear-gradient(149deg, rgba(60, 60, 59, 0.60) 16.96%, rgba(116, 116, 116, 0.00) 83.46%);
  color: var(--white-color);
}

.bg-gradient a, 
.bg-gradient .list-module.link a {
  color: var(--white-color);
}

.bg-gradient .row-fluid {
  position: relative;
}

.bg-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/0.5;
  max-height: 50%;
  border-radius: var(--border-radius);
  background-image: linear-gradient(to top right, transparent 50%, var(--primary-color) 50%);
}

@media (max-width: 767px) {
  .bg-gradient::before {
    border-radius: var(--border-radius-mobile);
  }
}

/* Image wrapper */

.cover-image-wrapper {
  display: flex;
  overflow: hidden;
}

.cover-image-wrapper .hs_cos_wrapper {
  display: flex;
  width: 100%;
}

.cover-image-wrapper .hs_cos_wrapper img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}