/* For content that needs to be visually hidden but stay visible for screenreaders */

.show-for-sr {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

@media (max-width: 767px) {
  .show-for-sr--mobile {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }
}

/* Border radius */

.rounded-theme {
  border-radius: var(--border-radius);
}

@media (max-width: 767px) {
  .rounded-theme {
    border-radius: var(--border-radius-mobile);
  }
}

/* Grid background */

.grid-bg {
  background-image: url({{ get_asset_url('/evoke-creative/images/grid-bg.svg') }});
  background-repeat: repeat-y;
  background-position: center;
  background-size: 100%; 
}

@media (max-width: 767px) {
  .grid-bg {
    background-size: 767px;
  }
}

/* Tick lists */

.list-module.tick li {
  padding-left: 30px;
  background-image: url({{ get_asset_url('/evoke-creative/images/tick.svg') }});
  background-repeat: no-repeat;
  background-position: left 4px;
  background-size: 18px 18px;
}