/* Pagination */

.hs-pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Pagination links */

.hs-pagination__link {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 45px;
  height: 45px;
  border: 1px solid #CECECE;
  border-radius: 999px;
  background-color: var(--white-color);
  color: var(--tertiary-color);
  font-size: var(--body-font-size-small);
}

.hs-pagination__link,
.hs-pagination__link:hover,
.hs-pagination__link:focus,
.hs-pagination__link:active {
  text-decoration: none;
}

.hs-pagination__link.hs-pagination__link--active {
  border-color: var(--tertiary-color);
}

.hs-pagination__link.hs-pagination__link--prev,
.hs-pagination__link.hs-pagination__link--next {
  border: none;
  background-color: var(--tertiary-color);
}

.hs-pagination__link-icon {
  display: inline-flex;
}

.hs-pagination__link-icon svg {
  height: 14px;
  width: 14px;
  fill: var(--white-color);
}

@media (max-width: 767px) {
  .hs-pagination__link {
    width: 40px;
    height: 40px;
  }

  .hs-pagination__show-for-sr--mobile {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }
}
